In [253]:
import pandas as pd
import csv

In [254]:
#file = open('erg.csv')

In [255]:
#csvreader = csv.reader(file)

In [256]:
# header = []
# header = next(csvreader)
# header

In [257]:
# rows = []
# for row in csvreader:
#         rows.append(row)
# rows

In [258]:
df = pd.read_csv("erg.csv")
df

           subject      stimulus  response  reactionTime
0      AL_23_1_1_0  211,plop,171         2  3.865739e+15
1      AL_23_1_1_0  166,plop,206         1  4.384164e+15
2      AL_23_1_1_0  181,plop,191         2  3.754784e+15
3      AL_23_1_1_0  191,plop,171         2  3.920000e+16
4      AL_23_1_1_0  181,plop,166         2  3.710000e+16
...            ...           ...       ...           ...
1243  pab_30_0_0_0  186,plop,161         2  5.386086e+15
1244  pab_30_0_0_0  181,plop,171         1  6.280000e+16
1245  pab_30_0_0_0  201,plop,171         2  5.160000e+15
1246  pab_30_0_0_0  216,plop,201         2  5.150000e+16
1247  pab_30_0_0_0  166,plop,206         1  4.918186e+15

[1248 rows x 4 columns]

In [259]:
df.dtypes

subject          object
stimulus         object
response          int64
reactionTime    float64
dtype: object

In [260]:
df['stimulus'] = df['stimulus'].astype(str)

In [261]:
df.dtypes

subject          object
stimulus         object
response          int64
reactionTime    float64
dtype: object

In [262]:
df

           subject      stimulus  response  reactionTime
0      AL_23_1_1_0  211,plop,171         2  3.865739e+15
1      AL_23_1_1_0  166,plop,206         1  4.384164e+15
2      AL_23_1_1_0  181,plop,191         2  3.754784e+15
3      AL_23_1_1_0  191,plop,171         2  3.920000e+16
4      AL_23_1_1_0  181,plop,166         2  3.710000e+16
...            ...           ...       ...           ...
1243  pab_30_0_0_0  186,plop,161         2  5.386086e+15
1244  pab_30_0_0_0  181,plop,171         1  6.280000e+16
1245  pab_30_0_0_0  201,plop,171         2  5.160000e+15
1246  pab_30_0_0_0  216,plop,201         2  5.150000e+16
1247  pab_30_0_0_0  166,plop,206         1  4.918186e+15

[1248 rows x 4 columns]

In [263]:

# Using Series.values.tolist()
col_list = df["stimulus"].values.tolist()

In [264]:
df["stimulus"]

0       211,plop,171
1       166,plop,206
2       181,plop,191
3       191,plop,171
4       181,plop,166
            ...
1243    186,plop,161
1244    181,plop,171
1245    201,plop,171
1246    216,plop,201
1247    166,plop,206
Name: stimulus, Length: 1248, dtype: object

In [265]:
df['stimulus'] = df['stimulus'].str.split(',').map(lambda elements: [e.strip() for e in elements])

In [266]:
df['stimulus'] = df.stimulus.apply(lambda x: [i for i in x if i != 'plop'])

In [267]:
df['stimulus']

0       [211, 171]
1       [166, 206]
2       [181, 191]
3       [191, 171]
4       [181, 166]
           ...
1243    [186, 161]
1244    [181, 171]
1245    [201, 171]
1246    [216, 201]
1247    [166, 206]
Name: stimulus, Length: 1248, dtype: object

In [2]:
#probe problem

NameError: name 'df' is not defined