In [55]:
import pandas as pd
import numpy as np
import csv

In [56]:
#file = open('erg.csv')

In [57]:
#csvreader = csv.reader(file)

In [58]:
# header = []
# header = next(csvreader)
# header

In [59]:
# rows = []
# for row in csvreader:
#         rows.append(row)
# rows

In [60]:
df = pd.read_csv("erg.csv")
df

           subject      stimulus  response  reactionTime
0      AL_23_1_1_0  211,plop,171         2  3.865739e+15
1      AL_23_1_1_0  166,plop,206         1  4.384164e+15
2      AL_23_1_1_0  181,plop,191         2  3.754784e+15
3      AL_23_1_1_0  191,plop,171         2  3.920000e+16
4      AL_23_1_1_0  181,plop,166         2  3.710000e+16
...            ...           ...       ...           ...
1243  pab_30_0_0_0  186,plop,161         2  5.386086e+15
1244  pab_30_0_0_0  181,plop,171         1  6.280000e+16
1245  pab_30_0_0_0  201,plop,171         2  5.160000e+15
1246  pab_30_0_0_0  216,plop,201         2  5.150000e+16
1247  pab_30_0_0_0  166,plop,206         1  4.918186e+15

[1248 rows x 4 columns]

In [61]:
df.dtypes

subject          object
stimulus         object
response          int64
reactionTime    float64
dtype: object

In [62]:
df['stimulus'] = df['stimulus']

In [63]:
df.dtypes

subject          object
stimulus         object
response          int64
reactionTime    float64
dtype: object

In [64]:
df

           subject      stimulus  response  reactionTime
0      AL_23_1_1_0  211,plop,171         2  3.865739e+15
1      AL_23_1_1_0  166,plop,206         1  4.384164e+15
2      AL_23_1_1_0  181,plop,191         2  3.754784e+15
3      AL_23_1_1_0  191,plop,171         2  3.920000e+16
4      AL_23_1_1_0  181,plop,166         2  3.710000e+16
...            ...           ...       ...           ...
1243  pab_30_0_0_0  186,plop,161         2  5.386086e+15
1244  pab_30_0_0_0  181,plop,171         1  6.280000e+16
1245  pab_30_0_0_0  201,plop,171         2  5.160000e+15
1246  pab_30_0_0_0  216,plop,201         2  5.150000e+16
1247  pab_30_0_0_0  166,plop,206         1  4.918186e+15

[1248 rows x 4 columns]

In [65]:

# Using Series.values.tolist()
col_list = df["stimulus"] #.values.tolist()

In [66]:
df["stimulus"]

0       211,plop,171
1       166,plop,206
2       181,plop,191
3       191,plop,171
4       181,plop,166
            ...
1243    186,plop,161
1244    181,plop,171
1245    201,plop,171
1246    216,plop,201
1247    166,plop,206
Name: stimulus, Length: 1248, dtype: object

In [67]:
#df['stimulus'] = df['stimulus'].str.split(',').map(lambda elements: [e.strip() for e in elements])

In [68]:
#df['stimulus'] = df.stimulus.apply(lambda x: [i for i in x if i != 'plop'])

In [69]:
df['stimulus']

0       211,plop,171
1       166,plop,206
2       181,plop,191
3       191,plop,171
4       181,plop,166
            ...
1243    186,plop,161
1244    181,plop,171
1245    201,plop,171
1246    216,plop,201
1247    166,plop,206
Name: stimulus, Length: 1248, dtype: object

In [81]:
#Erstelle zwei Spalten für ersten und zweiten Stimulus

df['stimulus_1'] = df['stimulus'].str[:3]
df['stimulus_2'] = df['stimulus'].str[9:12]

In [82]:
df['stimulus_1'].dtype

dtype('O')

In [83]:
#df['stimulus_1'] = pd.Series(df['stimulus_1'], dtype='int')

In [84]:
#df['stimulus_2'] = pd.Series(df['stimulus_2'], dtype='int')

In [85]:
df['stimulus_1']

0       211
1       166
2       181
3       191
4       181
       ...
1243    186
1244    181
1245    201
1246    216
1247    166
Name: stimulus_1, Length: 1248, dtype: object

In [86]:
df['stimulus_2']

0       171
1       206
2       191
3       171
4       166
       ...
1243    161
1244    171
1245    171
1246    201
1247    206
Name: stimulus_2, Length: 1248, dtype: object

In [87]:
#Codiere die Responses 1+2 1:0 -- Wenn der erste Stimulus gewählt wird 1, wenn der zweite gewählt wird eine -1
df['response_new'] = df['response'].apply(lambda x: 1 if x == 1 else -1)

In [78]:
df['response_new']

0      -1
1       1
2      -1
3      -1
4      -1
       ..
1243   -1
1244    1
1245   -1
1246   -1
1247    1
Name: response_new, Length: 1248, dtype: int64

In [90]:
#Gruppiere nach den beiden Spalten, daraus ergibt sich eine Matrix - Gleichzeitig summiere die Werte
df = df.groupby(['stimulus_1', 'stimulus_2'])[('response_new')].sum().unstack()

In [91]:
df

stimulus_2,161,166,171,176,181,186,191,196,201,206,211,216,221
stimulus_1,,,,,,,,,,,,,
161,NaN,NaN,10.0,NaN,16.0,NaN,14.0,NaN,12.0,NaN,10.0,NaN,12.0
166,-4.0,NaN,NaN,8.0,NaN,16.0,NaN,14.0,NaN,16.0,NaN,12.0,NaN
171,NaN,-4.0,NaN,10.0,NaN,12.0,NaN,12.0,NaN,12.0,NaN,14.0,NaN
176,-12.0,NaN,NaN,NaN,8.0,NaN,6.0,NaN,8.0,NaN,14.0,NaN,14.0
181,NaN,-8.0,-10.0,NaN,NaN,NaN,4.0,NaN,14.0,NaN,14.0,NaN,16.0
186,-16.0,NaN,NaN,-2.0,-6.0,NaN,NaN,10.0,NaN,14.0,NaN,12.0,NaN
191,NaN,-12.0,-8.0,NaN,NaN,6.0,NaN,8.0,NaN,10.0,NaN,8.0,NaN
196,-14.0,NaN,NaN,-8.0,-10.0,NaN,NaN,NaN,12.0,NaN,10.0,NaN,12.0
201,NaN,-14.0,-12.0,NaN,NaN,-10.0,-12.0,NaN,NaN,NaN,14.0,NaN,14.0
206,-12.0,NaN,NaN,-10.0,-10.0,NaN,NaN,-12.0,-2.0,NaN,NaN,10.0,NaN
211,NaN,-12.0,-12.0,NaN,NaN,-14.0,-14.0,NaN,NaN,2.0,NaN,12.0,NaN
216,-14.0,NaN,NaN,-16.0,-10.0,NaN,NaN,-6.0,-6.0,NaN,NaN,NaN,10.0
221,NaN,-14.0,-16.0,NaN,NaN,-14.0,-10.0,NaN,NaN,-8.0,-2.0,NaN,NaN