In [4]:
import pandas as pd
import csv

In [5]:
#file = open('erg.csv')

In [6]:
#csvreader = csv.reader(file)

In [7]:
# header = []
# header = next(csvreader)
# header

In [8]:
# rows = []
# for row in csvreader:
#         rows.append(row)
# rows

In [9]:
df = pd.read_csv("erg.csv")
df

           subject      stimulus  response  reactionTime
0      AL_23_1_1_0  211,plop,171         2  3.865739e+15
1      AL_23_1_1_0  166,plop,206         1  4.384164e+15
2      AL_23_1_1_0  181,plop,191         2  3.754784e+15
3      AL_23_1_1_0  191,plop,171         2  3.920000e+16
4      AL_23_1_1_0  181,plop,166         2  3.710000e+16
...            ...           ...       ...           ...
1243  pab_30_0_0_0  186,plop,161         2  5.386086e+15
1244  pab_30_0_0_0  181,plop,171         1  6.280000e+16
1245  pab_30_0_0_0  201,plop,171         2  5.160000e+15
1246  pab_30_0_0_0  216,plop,201         2  5.150000e+16
1247  pab_30_0_0_0  166,plop,206         1  4.918186e+15

[1248 rows x 4 columns]

In [10]:
df.dtypes

subject          object
stimulus         object
response          int64
reactionTime    float64
dtype: object

In [11]:
df['stimulus'] = df['stimulus'].astype(str)

In [12]:
df.dtypes

subject          object
stimulus         object
response          int64
reactionTime    float64
dtype: object

In [13]:
df

           subject      stimulus  response  reactionTime
0      AL_23_1_1_0  211,plop,171         2  3.865739e+15
1      AL_23_1_1_0  166,plop,206         1  4.384164e+15
2      AL_23_1_1_0  181,plop,191         2  3.754784e+15
3      AL_23_1_1_0  191,plop,171         2  3.920000e+16
4      AL_23_1_1_0  181,plop,166         2  3.710000e+16
...            ...           ...       ...           ...
1243  pab_30_0_0_0  186,plop,161         2  5.386086e+15
1244  pab_30_0_0_0  181,plop,171         1  6.280000e+16
1245  pab_30_0_0_0  201,plop,171         2  5.160000e+15
1246  pab_30_0_0_0  216,plop,201         2  5.150000e+16
1247  pab_30_0_0_0  166,plop,206         1  4.918186e+15

[1248 rows x 4 columns]

In [14]:

# Using Series.values.tolist()
col_list = df["stimulus"].values.tolist()

In [15]:
df["stimulus"]

0       211,plop,171
1       166,plop,206
2       181,plop,191
3       191,plop,171
4       181,plop,166
            ...
1243    186,plop,161
1244    181,plop,171
1245    201,plop,171
1246    216,plop,201
1247    166,plop,206
Name: stimulus, Length: 1248, dtype: object

In [16]:
df['stimulus'] = df['stimulus'].str.split(',').map(lambda elements: [e.strip() for e in elements])

In [24]:
df['stimulus']

0       [211, 171]
1       [166, 206]
2       [181, 191]
3       [191, 171]
4       [181, 166]
           ...
1243    [186, 161]
1244    [181, 171]
1245    [201, 171]
1246    [216, 201]
1247    [166, 206]
Name: stimulus, Length: 1248, dtype: object

In [17]:
df['stimulus'] = df.stimulus.apply(lambda x: [i for i in x if i != 'plop'])

In [18]:
df['stimulus']

0       [211, 171]
1       [166, 206]
2       [181, 191]
3       [191, 171]
4       [181, 166]
           ...
1243    [186, 161]
1244    [181, 171]
1245    [201, 171]
1246    [216, 201]
1247    [166, 206]
Name: stimulus, Length: 1248, dtype: object

In [33]:
#Erstelle zwei Spalten für ersten und zweiten Stimulus

df['stimulus_1'] = df['stimulus'].str[:1]
df['stimulus_2'] = df['stimulus'].str[1:2]

In [40]:
df['stimulus_1'].dtype

dtype('O')

In [35]:
df['stimulus_2']

0       [171]
1       [206]
2       [191]
3       [171]
4       [166]
        ...
1243    [161]
1244    [171]
1245    [171]
1246    [201]
1247    [206]
Name: stimulus_2, Length: 1248, dtype: object

In [36]:
#Codiere die Responses 1+2 1:0 -- Wenn der erste Stimulus gewählt wird 1, wenn der zweite gewählt wird eine -1
df['response_new'] = df['response'].apply(lambda x: 1 if x == 1 else -1)

In [38]:
df['response_new']

0      -1
1       1
2      -1
3      -1
4      -1
       ..
1243   -1
1244    1
1245   -1
1246   -1
1247    1
Name: response_new, Length: 1248, dtype: int64

In [39]:
#Gruppiere nach den beiden Spalten, daraus ergibt sich eine Matrix - Gleichzeitig summiere die Werte
df = df.groupby(['stimulus_1', 'stimulus_2'])[('response_new')].sum().unstack()

TypeError: unhashable type: 'list'